:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";

  /* Chatbot */
  --primary-color: #3498db;
  --primary-color-dark: #2980b9;
  --text-color-light: white;
  --bg-color-light: white;
  --user-message-bg: #e1f5fe;
  --bot-message-bg: #f0f0f0;
  --border-color: #e0e0e0;
}
